VITE_SUPABASE_URL=https://pnrgyiufewelkljlxatb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBucmd5aXVmZXdlbGtsamx4YXRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNDYwODcsImV4cCI6MjA5OTYyMjA4N30.P56ASJ1LzLlJ5oZdI091VBhwjeP29vc6Y0eLU6mnyc4
